<%= form_for @question, :html => { :class => "form-horizontal question" } do |f| %>

  <% if @question.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :content, :class => 'form-control', :rows => '12' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "New Category", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
    <%= f.fields_for :categories, @question.categories.build do |category| %>
        <em><%= category.text_field :name, :class => 'form-control', :placeholder => "Add a new category" %> </em>     
      <% end %>  
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Categories", :class => 'control-label col-lg-2' %><br>
    <div class="col-lg-10">
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, :class => 'form-control' %>
    </div>
  </div>

  <%= f.hidden_field :author_id %>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questions_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

