<%- model_class = Question -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= sortable "title" %></th>
      <th><%= sortable "author_id" %></th>
      <th><%= sortable "created_at", "Published" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to truncate(question.title, length: 50), question %></td>
        <td><%= link_to question.author.name, user_path(question.author) %></td>
        <td><%= question.created_at.time.to_formatted_s(:long) %></td>
        <td><%= render 'index_question_actions', question: question %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if policy(Question).new? %>
  <%= link_to t('.new', :default => t("helpers.links.Ask_a_New_Question!")),
              new_question_path,
              :class => 'btn btn-primary' %>
<% end %>              
