<%- model_class = Question -%>
<div class="page-header">
  <h1><%= @question.title %></h1>
  <% @question.categories.each do |category| %>
  <%= link_to tag_label(category.name, :default), category %>
  <% end %>
  <h6><%= link_to @question.author.name, user_path(@question.author) %></h6>
</div>

<dl class="dl-horizontal">
  <h4><%= @question.content %></h4>
  
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              questions_path, :class => 'btn btn-default'  %>              
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_question_path(@question), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              question_path(@question),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<%= link_to t('.Answer this Question', :default => t("helpers.links.Answer this Question!")),
              new_question_answer_path(@question), :class => 'btn btn-primary'  %>

</br>
</br>
<dl>
  <% @question.answers.each do |answer| %>
  </br>
    <dd><%= link_to answer.answerer.name, user_path(answer.answerer) %> wrote on <%= answer.created_at.strftime("%d %b. %Y") %></dd>
    <dd><%= answer.content %></dd>
  </br>  
  <% end %>  
</dl>              