Title: <%= @question.title %><br>
Content: <%= @question.content %><br>

<h3>Categories!</h3>
<div>
  <li>
    <% @question.categories.each do |category| %>
    <ul><%= category.name %></ul>
    <% end %>
  </li>
</div>

<h3>Answers:</h3>
<div>
  <li>
    <% @question.answers.each do |answer| %>
    <ul><%= answer.content %></ul>
    <% end %>
  </li>
</div>

<%= link_to "Answer this question!", new_question_answer_path(@question) %>
