<%- model_class = Question -%>
<div class="page-header">

  <h1><%= @question.title %></h1>

  <% @question.categories.each do |category| %>
    <%= link_to tag_label(category.name, :default), category %>
  <% end %>

  <h6><%= link_to @question.author.name, user_path(@question.author) %></h6> 

</div>

<dl class="dl-horizontal">
  <h4><small><%= @question.content %></small></h4> 
</dl>

<%= render 'show_actions', question: @question %></br></br>
<dl>
  <% @question.first_answers.each do |answer| %></br>

    <%= render 'answers/first_answers', answer: answer %> |   
    <%= render 'question_answer_actions', question: @question, answer: answer %>  

    <dd><%= simple_format answer.content %></dd> </br>  
  <% end %> 
   
  <% if @question.have_more_answers %>
    <%= link_to t('.index', :default => t("helpers.links.show_all_answers")),
                  question_answers_path(@question), :class => 'btn btn-primary' %>
  <% end %>                
</dl>              