<td>
  <td><% if answer.answerer %>
    <%= link_to answer.answerer.name, user_path(answer.answerer) %>
  <% else %>
    Anonymous
  <% end %> <em>wrote on <%= answer.created_at.time.to_formatted_s(:long) %></em><br />
  <%= truncate(answer.content, length: 200) %><%= link_to "(Read More)", question_answer_path(answer.question, answer) %> </td>
  <td>
    <% if policy(answer).edit?  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_question_answer_path(answer.question, answer), :class => 'btn btn-default btn-xs'%>
    <% end %>            
    <% if policy(answer).destroy?  %>            
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  question_answer_path(answer.question, answer),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger' %>
    <% end %>             
</td>